<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <form #form="ngForm">
      <ion-item>
        <ion-label position="floating">Digite o CEP</ion-label>
        <ion-input name="cep" ngModel></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="buscar(form)">Buscar</ion-button>
    </form>

    <ion-card>
      <p>{{endereco.logradouro}}</p>
      <p>{{endereco.bairro}}</p>
      <p>{{endereco.localidade}}</p>
      <p>{{endereco.uf}}</p>
    </ion-card>
  </div>
</ion-content>